.main1 {
    width: 600px;
    height: 600px;
    background: lightblue;
    border: 15px solid blue;
    /* padding: 20px; */
    /* margin: 50px; */
    box-sizing: border-box;
    /* top: 100px; */
    position:relative;
    /* display: inline-block; */
  }

  .seccion1{
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 0);
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 0;
    /* left:40px; */
    right: 0;
  }

  .seccion2{
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 0);
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 10;
    /* left:40px; */
    right: 0;
  }

  .seccion3{
    width: 150px;
    height: 150px;
    background: rgba(246, 0, 0, 0.977);
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 0;
    /* left:40px; */
    left: 0;
  }

  .seccion4{
    width: 150px;
    height: 150px;
    background: rgb(255, 0, 0);
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    top: 10;
    /* left:40px; */
    left: 0;
  }

  .seccion5{
    width: 150px;
    height: 150px;
    background: rgb(255, 119, 0);
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    top: 10;
    /* left:40px; */
    left: 200px;
    
  }

  .seccion6{
    width: 150px;
    height: 150px;
    background: green;
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 200px;
    /* left:40px; */
    left: 0;
  }

  .seccion7{
    width: 150px;
    height: 150px;
    background: green;
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 0;
    /* left:40px; */
    left: 200px;
  }

  .seccion8{
    width: 150px;
    height: 150px;
    background: green;
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 5;
    /* left:40px; */
    left: 200px;
  }

  .seccion9{
    width: 150px;
    background: green;
    height: 150px;
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 200px;
    /* left:40px; */
    right: 200px;
  }

  .seccion10{
    width: 150px;
    background: green;
    height: 150px;
    position: absolute;
    margin: 10px;
    /* top: 40px; */
    bottom: 200px;
    /* left:40px; */
    right: 0px;
  }